@model Entidades.clsPersona

<title>Editar Persona</title>

<h2>Editar Persona</h2>
<form method="post">
    <label>Id: </label>
    @Html.TextBox("Id")  <br />

    <label>Nombre: </label>
    @Html.TextBoxFor(m => Model.Nombre)
    @Html.ValidationMessageFor(m => m.Nombre)
    <br />

    <label>Apellido: </label>
    <input type="text" name="Apellido" value="@Model.Apellido" /><br />

    <input type="submit"/>
</form>
