<!DOCTYPE html>
<h1>Hola Mundo</h1>
<app-tabla-personas ></app-tabla-personas> <br/>
<app-listado-personas></app-listado-personas> <br/>
<app-formulario-persona></app-formulario-persona>

<img width="200" src="https://github.com/ManuelTirado/Fotos/blob/main/png-clipart-cristiano-ronaldo-football-player-uefa-champions-league-sport-real-madrid-c-f-cristiano-ronaldo-sports-shoe.png?raw=true" alt="El bicho, siuuuuuu">

<!-- Esto no se quita ;/ -->
<router-outlet></router-outlet>
<!-- - - - - - - - - - - -->
