@model String
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<title>Error</title>
<h1>Ha ocurrido un error inesperado</h1>
<p>@Model.ToString()</p>
