@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post">
        <input type="submit" value="Conectar"/>
    </form>
    <label>El estado de la conexión es: @ViewBag.estadoConexion</label>
</div>
