
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kiko</title>
</head>
<body>
    <h1>Hola Mundo! 🤙🤙 (Desde la vista)</h1>
    <img src="@Url.Content("~/img/kiko.jpeg")" width="100%" height="auto" alt="kiko" />
</body>
</html>
