@model _07_ASP.NET_MVC.Models.clsPersona
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>@ViewData["Saludo"], @Model.Nombre @Model.Apellido</h1>
    <h2>Fecha actual: @ViewBag.fecha</h2>
</div>
