@{
    ViewData["Title"] = "Home Page";
}

<title>Index</title>

<div class="text-center">
    <h1 class="display-4">Examen 1er Trimestre Sistemas de Gestión Empresarial</h1>
    <p>Manuel Tirado García</p>
    <br />
    <br />
    @Html.ActionLink("Ir al Listado de Departamentos","ListadoDepartamentos","Departamentos")
</div>
