<!DOCTYPE html>
<h2>My Heroes</h2>
<ul class="heroes">
  <li >
    <button  type="button">
      <span class="badge">1</span>
      <span class="name">Batman</span>
    </button>
  </li>
  <li >
    <button  type="button">
      <span class="badge">2</span>
      <span class="name">Spiderman</span>
    </button>
  </li>
  <li >
    <button  type="button">
      <span class="badge">3</span>
      <span class="name">Superman</span>
    </button>
  </li>
</ul>

<button [routerLink]="''">Volver</button>
