@{
    Layout = null;
}
<title>Index Ej2</title>
<br />
<h1>Ejercicio2</h1>

    <form method="post">
        <input type="text" name="nombre" />
        <button type="submit">Enviar</button>
    </form>
