@{
    Layout = null;
}
<title>Index Ej1</title>
<br />

<h1>Ejercicio 1</h1>
<h2>@Html.ActionLink("Ir a Saludo", "Saludo", "Home", new {nombre="Manuel"})</h2>
<br/>
<br/>
<h2>@Html.ActionLink("Ir a Ej2", "Index2", "Home")</h2>

