
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Vista Hola Mundo</title>
    </head>
    <body>
        <!-- Este link nos llevará a la otra vista del proyecto -->
        <h1>Hola mundo, desde la vistaHolaMundo</h1>
        @Html.ActionLink("Productos","ListadoProductos","Productos")
    </body>
</html>


