@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Listado Productos</title>
    </head>
    <body>
        <ul>
            <li>Anacardos</li>
            <li>Judías</li>
            <li>Kiwis</li>
        </ul>
        @Html.ActionLink("Hola Mundo","vistaHolaMundo","Home")
    </body>
</html>
