@{
    Layout = null;
}
<title>Editar</title>

<h2>Editar Persona</h2>
<form>
    <input type="number" name="Id" />
    <input type="text" name="Nombre"/>
    <input type="text" name="Apellido"/>
    <button name="submit">Enviar</button>
</form>
