@{
    ViewData["Title"] = "Home Page";
}
<title>Index</title>

<h1>CRUD Personas ASP.NET</h1>

<br />
@Html.ActionLink("Ir a Listado Personas", "ListadoPersona", "Persona")
<br />
<br />
@Html.ActionLink("Ir a Listado Departamentos", "ListadoDepartamento", "Departamento")

<footer style="position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  color: black;
  text-align: center;">
    <p>Creado por Manuel Tirado García</p>
</footer>
