<form [formGroup]="formularioPersReact">
    <p>
        <span>Nombre:</span>
        <input type="text" id="nombre" formControlName="nombre" />
        <span
            *ngIf="(formularioPersReact.controls.nombre.dirty || formularioPersReact.controls.nombre.touched) && this.formularioPersReact.controls.nombre.errors?.required">
            El nombre es obligatorio
        </span>
    </p>
    <p>
        <span>Apellidos:</span>
        <input type="text" formControlName="apellidos" />
        <span
            *ngIf="(formularioPersReact.controls.apellidos.dirty || formularioPersReact.controls.apellidos.touched) && this.formularioPersReact.controls.apellidos.errors?.required">
            El nombre es obligatorio
        </span>
    </p>

    <div *ngIf="this.formularioPersReact.controls.apellidos.errors?.required || this.formularioPersReact.controls.nombre.errors?.required; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock><button type="button" (click)="saluda()" toggleable="true" disabled="true">Saludar</button></ng-template>
    <ng-template #elseBlock><button type="button" (click)="saluda()" toggleable="true">Saludar</button></ng-template>

    <br /><br />
    <button [routerLink]="''">Volver</button>
</form>