<?xml version="1.0"?>
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="false" targetFramework="4.8.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>